/*
  Estilos principales para la extensión de Chrome Leads Tracker.
  Define la apariencia del cuerpo, los inputs, botones y la lista de leads.
*/
body {
  margin: 0 auto;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 375px;
}

label {
  color:#5f9341;
  font-weight: bold;
}

/* Campo de entrada para leads */
input {
  width: 100%;
  padding: 10px 10px;
  box-sizing: border-box;
  border: 1px solid #5f9341;
  margin-bottom: 6px;
}


/* Botones principales */
button {
  background-color: #5f9341;
  color: white;
  border: 1px solid #5f9341;
  font: inherit;
  font-weight: bold;
  padding: 10px 20px;
  margin-bottom: 20px;
}


/* Lista de leads */
ul {
  list-style-type: none;
  padding-left: 0;
}


li {
  margin-bottom: 6px;
}


/* Enlaces de los leads */
li a {
  color: #5f9341;
}


/* Botón de borrar todo (estilo especial) */
#delete {
  background-color: white;
  color: #5f9341;
}